* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Lato", sans-serif;
}
table {
    color: #333333;
    border-spacing: 0;
    margin: 0 auto;
}
thead tr th{
    color: rgb(255, 255, 255);
    background: rgb(144,180,214);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
tbody {
    padding: 5px 30px 5px 10px;
    font-size: 18px;
    margin: 0px;
    text-align: left;
    background-color: #84b3ad;
}
td {
    padding: 5px 30px 5px 10px;
    font-size: 18px;
    margin: 0px;
    text-align: left;
    background-color: #84b3ad;
    width: 150px;
}
tr:nth-child(even) td, tr:nth-child(even) th {
    background-color: #689ad8;
}

