#wrapper {
    width: 700px;
    height: 730px;
    border: 1px solid #000000;
    align-content: center;
    padding: 10px;
    background-color: #a6e1ec;
}
img {
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}
.text {
    color: #2EA620;
}
li {
    width: 600px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
}