@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    font-family: Roboto, sans-serif;
    background: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
}
img {
    width: 1100px;
    height: 450px;
}
.img-container {
    width: 1600px;
    height: 450px;
    margin-top: 65px;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: Indie Flower, cursive;
}
nav {
    margin: 30px;
}
nav ul li {
    display: inline-block;
    margin: 20px;
}
a {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
}
nav ul li:first-of-type a {
    color: #0a2d4a;
    font-weight: bold;
}
nav ul li:last-of-type a {
    color: #0a2d4a;
    font-weight: bold;
}
article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}
p {
    text-align: justify;
}
p:first-letter {
    font-family: EucrosiaUPC, sans-serif;
    font-size: 40px;
}
span a {
    background: url("images/bg2.jpg");
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
}
footer {
    margin: 0px;
    padding: 10px 0 10px 0;
    text-align: center;
}
article p:last-of-type span:first-of-type a::before {
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}
article {
    width: 350px;
    display: inline-block;
    padding: 20px;
}
